<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>The Best Palindrome Checker in the World!</title>
    <link rel="stylesheet" href="../../public/site.css">
</head>

<body>
    <br>
    <main>
        <h1> The Best Palindrome Checker in the World! </h1>
        <br>
        <p>What is a palindrome? A palindrome is a phrase that is spelled the same way, backwards and forwards.</p>
        {{{body}}}
    </main>
    <br><br>
    <footer>By Qiuan Wu</footer>
</body>

</html>