<div class='container'>
    <form name = 'myForm' class='submission' id='submission'>
        <label for="phrase">Enter a string:</label>
        <textarea placeholder='Place palindrome here' class='submission' id='phrase' name='phrase'></textarea>
        <button type="submit" onclick = 'submitForm(); return false;'>Submit</button>
    </form>
    
</div>
