<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>The Palindrome Results!</title>  
    <link rel="stylesheet" href="../public/main.css">
</head>

<body>
    <h3>The Palindrome Results:</h3>
    </header>
    <main>
        <div id="summary_wrapper">
            <fieldset>
                <p class = {{success}}>{{success}}</p>
            </fieldset>
        </div>
        <br>
        <a href="http://localhost:3000">Try another palindrome</a>
    </main>
</body>

</html>