<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>The Best Palindrome Checker in the World!</title>
    <link rel="stylesheet" href="../../public/css/site.css">
    <script type="text/javascript" src="../../public/js/palindrome.js"></script>
</head>

<body>
    <br>
    <main>
        <h1> The Best Palindrome Checker in the World! </h1>
        <br>
        {{{body}}}
        <ol class='attempts' id='attempts'></ol>
    </main>
    <br><br>
    <footer>Qiuan Wu<br>10409585</footer>
</body>

</html>