* {
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

main {
    margin: 20px auto;
    width: 600px;
    max-width: 75%;
}

body {
    background-color: #ffffcc;
}

h1 {
    font-size: 160%;
    text-align: center;
}


.submission {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#submit {
    text-align: center;
}

.submit {
    width: 200px;
    margin: 4px auto;
    color: white;
    padding: 4px;
}

button:focus {
    outline: none;
    background-color:#0099ff;
}